$myColor: #ffffff;
$background: #23252c;
$cardBack: #1a1b21;
$text: #918e9b;

@mixin sizing {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  h1 {
    margin-bottom: -18px;
  }
}

h1 {
  color: $myColor;
}

.bobross {
  min-height: 100vh;
  width: 555px;
  background-color: $background;
  //   padding: 30px 110px;
  //   box-sizing: border-box;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.paint {
  color: $text;
  min-height: 100vh;
  width: 317px;
  background-color: $cardBack;
  box-sizing: border-box;
}

.About {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  //   margin-bottom: -37px;
  h1 {
    margin-bottom: -10px;
  }
  h2 {
    margin-bottom: -10px;
    color: #f3bf99;
    font-size: 14px;
    font-weight: 300;
  }
  .email-btn {
    color: #161619;
    padding: 15px 95px;
    box-sizing: border-box;
    font-size: 20px;
    border-radius: 10px;
    border-width: thin;
    display: flex;
    align-items: center;
  }
}

.me {
  @include sizing();
}

.interests {
  @include sizing();
}

.Footer {
  background-color: #161619;
  display: flex;
  justify-content: space-around;
  bottom: -0;
}

body {
  background-color: rgba(217, 241, 230, 0.4);
}
